{% extends 'index.html' %}
{% load static from staticfiles %}

{% block group %}
    {% for group_unit in groups %}
        <div class="s-group-container">
            <div class="s-group">
                <a href="{% url 'gview' group_id=group_unit.id %}">
                    <img src="{{group_unit.profile_pic.url}}" alt="xd" title="{{group_unit.name}}"/>
                </a>
            </div>
        </div>
    {% endfor %}
    <div class="s-group-container">
        <div class="s-group">
            <a href="{% url 'gcreate' %}">
                <img src="{% static 'images/addgroup.png' %}" alt="xd"/>
            </a>
        </div>
    </div>
{% endblock %}
