{% extends 'index.html' %}
{% load static from staticfiles %}

{% block group %}
    {% for group in groups %}
        <div class="s-group-container">
            <div class="s-group">
                <a href="{% url 'gview' group_id=group.id %}">
                    <img src="{{group.profile_pic.url}}" alt="xd"/>
                </a>
            </div>
        </div>
    {% endfor %}
    <a href="{% url 'gcreate' %}"><img src="{% static 'images/addgroup.png' %}" alt="xd"/></a>
{% endblock %}
{% block section %}
    {% for member in members %}
    <div class="drop-parent">
        <button class="dropdown-btn">
             {{member.username}}
        </button>
        <div class="dropdown-container">
            <a>{{member.first_name}}</a>
            <a>{{member.last_name}}</a>
        </div>
    </div>
    {% endfor %}
{% endblock %}
{% block body %}
{% if is_manager %}
        <a href="{% url 'gedit' group_id=group.id %}">Edit Group</a>
{% endif %}
<br>
<a href="{% url 'ecreate' group_id=group.id %}">Create Event</a>
<ul>
    {% for event in events %}
        <li>
            Event Name: {{event.name}}<br>
            Location: {{event.location}}<br>
            Date/Time: {{event.datetime_planned}}<br>
            Cost Rating: {{event.cost_rating}}<br>
                {% if is_manager %}
                <a href="{% url 'eedit' group_id=group.id event_id=event.id %}">Edit Event</a>
                <a href="{% url 'edelete' group_id=group.id event_id=event.id %}">Delete Event</a>
            {% endif %}
        </li>
    {% endfor %}
</ul>
<a href="{% url 'madd' group_id=group.id %}">Add Memory</a>
<ul>
    {% for memory in memories %}
        <li>
            Memory Image: <img src="{{memory.image.url}}"/>
            Memory Caption: {{memory.caption}}
            {% if is_manager %}
            <a href="{% url 'mdelete' group_id=group.id memory_id=memory.id %}">Delete Memory</a>
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% endblock %}



