{% extends 'forms-template.html' %}

{% block form-header %}
    <form class="form-signin" action="{% url 'accounts:login' %}" method="post">
    {% csrf_token %}
    <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">
            Welcome Back
        </h1>
    </div>
{% endblock %}



{% block form-body %}
    {% for field in form %}
            {{field}}
            <label for={{field.label_id}}>{{field.label}}</label>
    {% endfor %}
{% endblock %}

{% block button-label %}
    Log In
{% endblock %}

{% block second-button %}
    <form class="form-signin" action="{% url 'accounts:signup' %}">
        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Sign Up
        </button>
    </form>
{% endblock %}


<!--{% block junk %}-->
    <!--<h1>Log In</h1>-->
    <!--&lt;!&ndash; Making an account &ndash;&gt;-->
    <!--<form class="site-form" action="{% url 'accounts:login' %}" method="post">-->
        <!--{% csrf_token %}-->
        <!--{{ form }}-->
        <!--{% if request.GET.next %}-->
            <!--<input type="hidden" name ="next" value="{{request.GET.next}}">-->
        <!--{% endif %}-->
        <!--<input type="submit" value="Login">-->
    <!--</form>-->
<!--{% endblock %}-->
