{% load static from staticfiles %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <form class="box" method="post" action="{% url 'accounts:login' %}">
        <h1>Log In</h1>
        {% csrf_token %}
            {% for field in form %}
                    <input id="{{ field.id_for_label }}" maxlength="30" name="{{ field.html_name }}" value="{{ field.label }}" type="text" autocomplete="off"/>
                    {{ field.errors }}
            {% endfor %}
            <input type="submit" value="Log In" />
    </form>

</body>
</html>